.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-title {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.profile-picture {
  border-radius: 50px;
  width: 36px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author {
  margin-bottom: 4px;
}

.video-stats, .video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  column-gap: 16px;
  row-gap: 40px;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-weight: 500;
  border-radius: 2px;
  padding: 3px 4px;
  font-size: 12px;
}